.parent-container {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.popup-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top:0px;
  background:rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.popup-wrapper{
  position: absolute;
  width: 400px;
  min-height: 200px;
  left: 50%;
  margin-left: -200px;
  top: 300px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  border: 0px solid white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  opacity:0;
  text-align: center;
  align-items: center;
  z-index: 9999;
}
